<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-flat-button color="primary" [routerLink]="['/products']">Products</button>
    <button mat-flat-button color="primary" [routerLink]="['/cart']">Cart</button>
    <!-- <a href="/products" mat-button>Products</a>
    <a href="/cart" mat-button>Cart</a> -->
  </mat-toolbar-row>
</mat-toolbar>

<div class="container text-center">
  <h1>Amazing Animal Paintings</h1>
  <h3>Make your home beautiful with our paintings</h3>

</div>

<router-outlet></router-outlet>
